[user]
    name = Alex Ruble
    email = jalexruble@gmail.com

[credential "https://github.com"]
    username = calamitizer

[core]
    editor = vim
    # editor = code --wait
    excludesfile = ~/.gitignore-global

[remote "origin"]
    prune = false

[color]
    ui = auto

[web]
    # browser = google-chrome

[alias]
    root = !pwd
    ########
    a = add
    aa = add --all
    ########
    b = branch
    bm = branch -m # rename current branch
    ########
    cf = config --global -e
    ########
    ch = checkout
    chb = checkout -b
    chm = checkout master
    ########
    c = commit
    cm = commit -m
    ccount = rev-list HEAD --count # count total commits
    ########
    d = diff -w
    dfiles = diff-tree --no-commit-id --name-only -r # then commit id
    di = diff -w --cached # diff index with HEAD
    dlast = diff -w @~ # diff HEAD with previous commit
    ds = diff -w --staged
    dt = difftool
    dn = diff -w --name-status
    dw = diff # with whitespace
    ########
    f = fetch
    ########
    h = help
    ########
    l = log
    lom = log origin/master..master
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ########
    ls = ls-files
    ########
    m = merge
    mm = merge master
    mom = merge origin/master
    ########
    o = checkout
    ########
    pop = stash pop
    ########
    ps = push
    pso = push origin
    psom = push origin master
    psuo = push -u origin
    ########
    pl = pull
    plo = pull origin
    plom = pull origin master
    plu = pull upstream
    plum = pull upstream master
    ########
    r = remote
    ra = remote add
    rr = remote rm
    rv = remote -v
    ########
    rmc = rm --cached
    rm-dry = rm --dry-run
    ########
    s = status
    su = status -u
    ########
    slist = stash list
    stall = stash --include-untracked
    spop = stash pop
