[user]
    name = Clarity Amaranthine
    email = clarity.amaranthine@gmail.com

[credential]
	helper = store

[credential "https://github.com"]
    username = charmsRace

[init]
    defaultBranch = main

[core]
    editor = vim
    # editor = code --wait
    excludesfile = ~/.gitignore-global
    filemode = false

[remote "origin"]
    prune = false

[color]
    ui = auto

[web]
    # browser = google-chrome

[alias]
    ########
    # TODO:
    # - print git root
    # - https://stackoverflow.com/q/4327708
    ########
    recommit = commit --amend -m
    uncommit = reset --soft @~
    ########
    root = !pwd
    dcode = !git d | code - &>/dev/null &
    ########
    a = add
    aa = add --all
    ########
    b = branch
    bl = branch --list
    bm = branch -m # rename current branch
    ########
    cf = config --global -e
    ########
    ch = checkout
    chb = checkout -b
    chm = checkout master
    ########
    # cherry = cherry-pick
    ########
    c = commit
    cm = commit -m
    cam = commit --all --message
    ########
    ccount = rev-list @ --count # count total commits
    ########
    cl = clone -c core.longpaths=true
    ########
    d = diff -w
    dbranch = diff -w master...@
    dfiles = diff-tree --no-commit-id --name-only -r # then commit id
    di = diff -w --cached # diff index with HEAD
    dlast = diff -w @~ # diff HEAD with previous commit
    ds = diff -w --staged
    dt = difftool
    dn = diff -w --name-status
    dw = diff # with whitespace
    ########
    f = fetch
    # fu = fetch upstream
    ########
    h = help
    ########
    l = log
    lom = log origin/master..master
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ########
    ls = ls-files
    ########
    m = merge
    mm = merge master
    mom = merge origin/master
    ########
    o = checkout
    ########
    pop = stash pop
    ########
    ps = push
    pso = push origin
    psom = push origin master
    psuo = push -u origin
    pushup = push -u origin HEAD
    ps-tags = push -f --tags
    ########
    pl = pull
    plo = pull origin
    plom = pull origin master
    plu = pull upstream
    plum = pull upstream master
    ########
    r = remote
    ra = remote add
    rr = remote rm
    rv = remote -v
    ########
    rmc = rm --cached
    rm-dry = rm --dry-run
    ########
    rs = reset @^
    rs-soft = reset --soft @^
    rs-hard = reset --hard @^
    ########
    s = status
    su = status -u
    ########
    slist = stash list
    stall = stash --include-untracked
    spop = stash pop
