{
  "$schema": "https://json.schemastore.org/prettierrc",

  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",

  "overrides": [
    {
      "files": [
        ".prettierrc",
        "*.json"
      ],
      "options": {
        "parser": "json",
        "printWidth": 0
      }
    },
    {
      "files": [
        "*.component.html"
      ],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.sql",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
