[user]
    name = Alex Ruble
    # email = jaruble@ncsu.edu
    email = alex.ruble@q-free.com

[credential "https://github.com"]
    username = calamitizer

[core]
    editor = vim
    # editor = code --wait
    excludesfile = ~/.gitignore-global

[remote "origin"]
    prune = true

[color]
    ui = auto

[web]
    # browser = google-chrome

[alias]
    root = !pwd
    # psod = push origin OTMS-20405-DSS-Corridor-Control-Schematic
    ########
    a = add
    aa = add --all
    ########
    b = branch
    ########
    cf = config --global -e
    ########
    ch = checkout
    chb = checkout -b
    chm = checkout master
    ########
    c = commit
    cm = commit -m
    ########
    d = diff -w
    dfiles = diff-tree --no-commit-id --name-only -r # then commit identifier
    di = diff -w --cached
    dlast = diff -w @~
    dt = difftool
    dn = diff --name-status
    dnm = diff --name-status master
    dw = diff
    ########
    f = fetch
    ########
    h = help
    ########
    l = log
    lom = log origin/master..master
    ########
    ls = ls-files
    ########
    m = merge
    mm = merge master
    ########
    o = checkout
    ########
    pop = stash pop
    ########
    ps = push
    pso = push origin
    psom = push origin master
    psuo = push -u origin
    ########
    pl = pull
    plo = pull origin
    plom = pull origin master
    plu = pull upstream
    plum = pull upstream master
    ########
    r = remote
    ra = remote add
    rr = remote rm
    rv = remote -v
    ########
    rmc = rm --cached
    ########
    s = status
    su = status -u
